<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @url.title %>
</p>

<p>
  <strong> Long Url:</strong>
  <%= @url.long_url %>
</p>

<p>
  <strong>Short Url:</strong>
  <%= @url.short_url %>
</p>

<p>
  <strong>Visits:</strong>
  <%= @url.visits %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
